<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="PublishFiles" Directory="INSTALLFOLDER">
      <Component Id="comp_0" Guid="*">
        <File Source="publish\appsettings.Development.json" />
      </Component>
      <Component Id="comp_1" Guid="*">
        <File Source="publish\aspnetcorev2_inprocess.dll" />
      </Component>
      <Component Id="comp_2" Guid="*">
        <File Source="publish\clretwrc.dll" />
      </Component>
      <Component Id="comp_3" Guid="*">
        <File Source="publish\clrgc.dll" />
      </Component>
      <Component Id="comp_4" Guid="*">
        <File Source="publish\clrjit.dll" />
      </Component>
      <Component Id="comp_5" Guid="*">
        <File Source="publish\coreclr.dll" />
      </Component>
      <Component Id="comp_6" Guid="*">
        <File Source="publish\createdump.exe" />
      </Component>
      <Component Id="comp_7" Guid="*">
        <File Source="publish\e_sqlite3.dll" />
      </Component>
      <Component Id="comp_8" Guid="*">
        <File Source="publish\hostfxr.dll" />
      </Component>
      <Component Id="comp_9" Guid="*">
        <File Source="publish\hostpolicy.dll" />
      </Component>
      <Component Id="comp_10" Guid="*">
        <File Source="publish\ImprivataProxy.deps.json" />
      </Component>
      <Component Id="comp_11" Guid="*">
        <File Source="publish\ImprivataProxy.dll" />
      </Component>
      <Component Id="comp_12" Guid="*">
        <File Source="publish\ImprivataProxy.pdb" />
      </Component>
      <Component Id="comp_13" Guid="*">
        <File Source="publish\ImprivataProxy.runtimeconfig.json" />
      </Component>
      <Component Id="comp_14" Guid="*">
        <File Source="publish\ImprivataProxy.staticwebassets.endpoints.json" />
      </Component>
      <Component Id="comp_15" Guid="*">
        <File Source="publish\Konscious.Security.Cryptography.Argon2.dll" />
      </Component>
      <Component Id="comp_16" Guid="*">
        <File Source="publish\Konscious.Security.Cryptography.Blake2.dll" />
      </Component>
      <Component Id="comp_17" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Antiforgery.dll" />
      </Component>
      <Component Id="comp_18" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.Abstractions.dll" />
      </Component>
      <Component Id="comp_19" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.BearerToken.dll" />
      </Component>
      <Component Id="comp_20" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.Cookies.dll" />
      </Component>
      <Component Id="comp_21" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.Core.dll" />
      </Component>
      <Component Id="comp_22" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.dll" />
      </Component>
      <Component Id="comp_23" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.JwtBearer.dll" />
      </Component>
      <Component Id="comp_24" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authentication.OAuth.dll" />
      </Component>
      <Component Id="comp_25" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authorization.dll" />
      </Component>
      <Component Id="comp_26" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Authorization.Policy.dll" />
      </Component>
      <Component Id="comp_27" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Components.Authorization.dll" />
      </Component>
      <Component Id="comp_28" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Components.dll" />
      </Component>
      <Component Id="comp_29" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Components.Endpoints.dll" />
      </Component>
      <Component Id="comp_30" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Components.Forms.dll" />
      </Component>
      <Component Id="comp_31" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Components.Server.dll" />
      </Component>
      <Component Id="comp_32" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Components.Web.dll" />
      </Component>
      <Component Id="comp_33" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Connections.Abstractions.dll" />
      </Component>
      <Component Id="comp_34" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.CookiePolicy.dll" />
      </Component>
      <Component Id="comp_35" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Cors.dll" />
      </Component>
      <Component Id="comp_36" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Cryptography.Internal.dll" />
      </Component>
      <Component Id="comp_37" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Cryptography.KeyDerivation.dll" />
      </Component>
      <Component Id="comp_38" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.DataProtection.Abstractions.dll" />
      </Component>
      <Component Id="comp_39" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.DataProtection.dll" />
      </Component>
      <Component Id="comp_40" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.DataProtection.Extensions.dll" />
      </Component>
      <Component Id="comp_41" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Diagnostics.Abstractions.dll" />
      </Component>
      <Component Id="comp_42" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Diagnostics.dll" />
      </Component>
      <Component Id="comp_43" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Diagnostics.HealthChecks.dll" />
      </Component>
      <Component Id="comp_44" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.dll" />
      </Component>
      <Component Id="comp_45" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.HostFiltering.dll" />
      </Component>
      <Component Id="comp_46" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="comp_47" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Hosting.dll" />
      </Component>
      <Component Id="comp_48" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" />
      </Component>
      <Component Id="comp_49" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Html.Abstractions.dll" />
      </Component>
      <Component Id="comp_50" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.Abstractions.dll" />
      </Component>
      <Component Id="comp_51" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.Connections.Common.dll" />
      </Component>
      <Component Id="comp_52" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.Connections.dll" />
      </Component>
      <Component Id="comp_53" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.dll" />
      </Component>
      <Component Id="comp_54" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.Extensions.dll" />
      </Component>
      <Component Id="comp_55" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.Features.dll" />
      </Component>
      <Component Id="comp_56" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Http.Results.dll" />
      </Component>
      <Component Id="comp_57" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.HttpLogging.dll" />
      </Component>
      <Component Id="comp_58" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.HttpOverrides.dll" />
      </Component>
      <Component Id="comp_59" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.HttpsPolicy.dll" />
      </Component>
      <Component Id="comp_60" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Identity.dll" />
      </Component>
      <Component Id="comp_61" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Localization.dll" />
      </Component>
      <Component Id="comp_62" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Localization.Routing.dll" />
      </Component>
      <Component Id="comp_63" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Metadata.dll" />
      </Component>
      <Component Id="comp_64" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Abstractions.dll" />
      </Component>
      <Component Id="comp_65" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.ApiExplorer.dll" />
      </Component>
      <Component Id="comp_66" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Core.dll" />
      </Component>
      <Component Id="comp_67" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Cors.dll" />
      </Component>
      <Component Id="comp_68" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.DataAnnotations.dll" />
      </Component>
      <Component Id="comp_69" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.dll" />
      </Component>
      <Component Id="comp_70" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Formatters.Json.dll" />
      </Component>
      <Component Id="comp_71" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Formatters.Xml.dll" />
      </Component>
      <Component Id="comp_72" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Localization.dll" />
      </Component>
      <Component Id="comp_73" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.Razor.dll" />
      </Component>
      <Component Id="comp_74" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.RazorPages.dll" />
      </Component>
      <Component Id="comp_75" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.TagHelpers.dll" />
      </Component>
      <Component Id="comp_76" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Mvc.ViewFeatures.dll" />
      </Component>
      <Component Id="comp_77" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.OutputCaching.dll" />
      </Component>
      <Component Id="comp_78" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.RateLimiting.dll" />
      </Component>
      <Component Id="comp_79" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Razor.dll" />
      </Component>
      <Component Id="comp_80" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Razor.Runtime.dll" />
      </Component>
      <Component Id="comp_81" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.RequestDecompression.dll" />
      </Component>
      <Component Id="comp_82" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.ResponseCaching.Abstractions.dll" />
      </Component>
      <Component Id="comp_83" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.ResponseCaching.dll" />
      </Component>
      <Component Id="comp_84" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.ResponseCompression.dll" />
      </Component>
      <Component Id="comp_85" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Rewrite.dll" />
      </Component>
      <Component Id="comp_86" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Routing.Abstractions.dll" />
      </Component>
      <Component Id="comp_87" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Routing.dll" />
      </Component>
      <Component Id="comp_88" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.HttpSys.dll" />
      </Component>
      <Component Id="comp_89" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.IIS.dll" />
      </Component>
      <Component Id="comp_90" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.IISIntegration.dll" />
      </Component>
      <Component Id="comp_91" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.Kestrel.Core.dll" />
      </Component>
      <Component Id="comp_92" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.Kestrel.dll" />
      </Component>
      <Component Id="comp_93" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.dll" />
      </Component>
      <Component Id="comp_94" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.dll" />
      </Component>
      <Component Id="comp_95" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll" />
      </Component>
      <Component Id="comp_96" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.Session.dll" />
      </Component>
      <Component Id="comp_97" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.SignalR.Common.dll" />
      </Component>
      <Component Id="comp_98" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.SignalR.Core.dll" />
      </Component>
      <Component Id="comp_99" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.SignalR.dll" />
      </Component>
      <Component Id="comp_100" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
      </Component>
      <Component Id="comp_101" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.StaticFiles.dll" />
      </Component>
      <Component Id="comp_102" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.WebSockets.dll" />
      </Component>
      <Component Id="comp_103" Guid="*">
        <File Source="publish\Microsoft.AspNetCore.WebUtilities.dll" />
      </Component>
      <Component Id="comp_104" Guid="*">
        <File Source="publish\Microsoft.CSharp.dll" />
      </Component>
      <Component Id="comp_105" Guid="*">
        <File Source="publish\Microsoft.Data.Sqlite.dll" />
      </Component>
      <Component Id="comp_106" Guid="*">
        <File Source="publish\Microsoft.DiaSymReader.Native.amd64.dll" />
      </Component>
      <Component Id="comp_107" Guid="*">
        <File Source="publish\Microsoft.EntityFrameworkCore.Abstractions.dll" />
      </Component>
      <Component Id="comp_108" Guid="*">
        <File Source="publish\Microsoft.EntityFrameworkCore.dll" />
      </Component>
      <Component Id="comp_109" Guid="*">
        <File Source="publish\Microsoft.EntityFrameworkCore.Relational.dll" />
      </Component>
      <Component Id="comp_110" Guid="*">
        <File Source="publish\Microsoft.EntityFrameworkCore.Sqlite.dll" />
      </Component>
      <Component Id="comp_111" Guid="*">
        <File Source="publish\Microsoft.Extensions.Caching.Abstractions.dll" />
      </Component>
      <Component Id="comp_112" Guid="*">
        <File Source="publish\Microsoft.Extensions.Caching.Memory.dll" />
      </Component>
      <Component Id="comp_113" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="comp_114" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="comp_115" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.CommandLine.dll" />
      </Component>
      <Component Id="comp_116" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="comp_117" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
      </Component>
      <Component Id="comp_118" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.FileExtensions.dll" />
      </Component>
      <Component Id="comp_119" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.Ini.dll" />
      </Component>
      <Component Id="comp_120" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.Json.dll" />
      </Component>
      <Component Id="comp_121" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.KeyPerFile.dll" />
      </Component>
      <Component Id="comp_122" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.UserSecrets.dll" />
      </Component>
      <Component Id="comp_123" Guid="*">
        <File Source="publish\Microsoft.Extensions.Configuration.Xml.dll" />
      </Component>
      <Component Id="comp_124" Guid="*">
        <File Source="publish\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="comp_125" Guid="*">
        <File Source="publish\Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="comp_126" Guid="*">
        <File Source="publish\Microsoft.Extensions.DependencyModel.dll" />
      </Component>
      <Component Id="comp_127" Guid="*">
        <File Source="publish\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
      </Component>
      <Component Id="comp_128" Guid="*">
        <File Source="publish\Microsoft.Extensions.Diagnostics.dll" />
      </Component>
      <Component Id="comp_129" Guid="*">
        <File Source="publish\Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll" />
      </Component>
      <Component Id="comp_130" Guid="*">
        <File Source="publish\Microsoft.Extensions.Diagnostics.HealthChecks.dll" />
      </Component>
      <Component Id="comp_131" Guid="*">
        <File Source="publish\Microsoft.Extensions.Features.dll" />
      </Component>
      <Component Id="comp_132" Guid="*">
        <File Source="publish\Microsoft.Extensions.FileProviders.Abstractions.dll" />
      </Component>
      <Component Id="comp_133" Guid="*">
        <File Source="publish\Microsoft.Extensions.FileProviders.Composite.dll" />
      </Component>
      <Component Id="comp_134" Guid="*">
        <File Source="publish\Microsoft.Extensions.FileProviders.Embedded.dll" />
      </Component>
      <Component Id="comp_135" Guid="*">
        <File Source="publish\Microsoft.Extensions.FileProviders.Physical.dll" />
      </Component>
      <Component Id="comp_136" Guid="*">
        <File Source="publish\Microsoft.Extensions.FileSystemGlobbing.dll" />
      </Component>
      <Component Id="comp_137" Guid="*">
        <File Source="publish\Microsoft.Extensions.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="comp_138" Guid="*">
        <File Source="publish\Microsoft.Extensions.Hosting.dll" />
      </Component>
      <Component Id="comp_139" Guid="*">
        <File Source="publish\Microsoft.Extensions.Hosting.WindowsServices.dll" />
      </Component>
      <Component Id="comp_140" Guid="*">
        <File Source="publish\Microsoft.Extensions.Http.dll" />
      </Component>
      <Component Id="comp_141" Guid="*">
        <File Source="publish\Microsoft.Extensions.Identity.Core.dll" />
      </Component>
      <Component Id="comp_142" Guid="*">
        <File Source="publish\Microsoft.Extensions.Identity.Stores.dll" />
      </Component>
      <Component Id="comp_143" Guid="*">
        <File Source="publish\Microsoft.Extensions.Localization.Abstractions.dll" />
      </Component>
      <Component Id="comp_144" Guid="*">
        <File Source="publish\Microsoft.Extensions.Localization.dll" />
      </Component>
      <Component Id="comp_145" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="comp_146" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.Configuration.dll" />
      </Component>
      <Component Id="comp_147" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.Console.dll" />
      </Component>
      <Component Id="comp_148" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.Debug.dll" />
      </Component>
      <Component Id="comp_149" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="comp_150" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.EventLog.dll" />
      </Component>
      <Component Id="comp_151" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.EventSource.dll" />
      </Component>
      <Component Id="comp_152" Guid="*">
        <File Source="publish\Microsoft.Extensions.Logging.TraceSource.dll" />
      </Component>
      <Component Id="comp_153" Guid="*">
        <File Source="publish\Microsoft.Extensions.ObjectPool.dll" />
      </Component>
      <Component Id="comp_154" Guid="*">
        <File Source="publish\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
      </Component>
      <Component Id="comp_155" Guid="*">
        <File Source="publish\Microsoft.Extensions.Options.DataAnnotations.dll" />
      </Component>
      <Component Id="comp_156" Guid="*">
        <File Source="publish\Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="comp_157" Guid="*">
        <File Source="publish\Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="comp_158" Guid="*">
        <File Source="publish\Microsoft.Extensions.WebEncoders.dll" />
      </Component>
      <Component Id="comp_159" Guid="*">
        <File Source="publish\Microsoft.IdentityModel.Abstractions.dll" />
      </Component>
      <Component Id="comp_160" Guid="*">
        <File Source="publish\Microsoft.IdentityModel.JsonWebTokens.dll" />
      </Component>
      <Component Id="comp_161" Guid="*">
        <File Source="publish\Microsoft.IdentityModel.Logging.dll" />
      </Component>
      <Component Id="comp_162" Guid="*">
        <File Source="publish\Microsoft.IdentityModel.Protocols.dll" />
      </Component>
      <Component Id="comp_163" Guid="*">
        <File Source="publish\Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
      </Component>
      <Component Id="comp_164" Guid="*">
        <File Source="publish\Microsoft.IdentityModel.Tokens.dll" />
      </Component>
      <Component Id="comp_165" Guid="*">
        <File Source="publish\Microsoft.JSInterop.dll" />
      </Component>
      <Component Id="comp_166" Guid="*">
        <File Source="publish\Microsoft.Net.Http.Headers.dll" />
      </Component>
      <Component Id="comp_167" Guid="*">
        <File Source="publish\Microsoft.VisualBasic.Core.dll" />
      </Component>
      <Component Id="comp_168" Guid="*">
        <File Source="publish\Microsoft.VisualBasic.dll" />
      </Component>
      <Component Id="comp_169" Guid="*">
        <File Source="publish\Microsoft.Win32.Primitives.dll" />
      </Component>
      <Component Id="comp_170" Guid="*">
        <File Source="publish\Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="comp_171" Guid="*">
        <File Source="publish\mscordaccore.dll" />
      </Component>
      <Component Id="comp_172" Guid="*">
        <File Source="publish\mscordaccore_amd64_amd64_8.0.1925.36514.dll" />
      </Component>
      <Component Id="comp_173" Guid="*">
        <File Source="publish\mscordbi.dll" />
      </Component>
      <Component Id="comp_174" Guid="*">
        <File Source="publish\mscorlib.dll" />
      </Component>
      <Component Id="comp_175" Guid="*">
        <File Source="publish\mscorrc.dll" />
      </Component>
      <Component Id="comp_176" Guid="*">
        <File Source="publish\msquic.dll" />
      </Component>
      <Component Id="comp_177" Guid="*">
        <File Source="publish\netstandard.dll" />
      </Component>
      <Component Id="comp_178" Guid="*">
        <File Source="publish\Serilog.AspNetCore.dll" />
      </Component>
      <Component Id="comp_179" Guid="*">
        <File Source="publish\Serilog.dll" />
      </Component>
      <Component Id="comp_180" Guid="*">
        <File Source="publish\Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="comp_181" Guid="*">
        <File Source="publish\Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="comp_182" Guid="*">
        <File Source="publish\Serilog.Formatting.Compact.dll" />
      </Component>
      <Component Id="comp_183" Guid="*">
        <File Source="publish\Serilog.Settings.Configuration.dll" />
      </Component>
      <Component Id="comp_184" Guid="*">
        <File Source="publish\Serilog.Sinks.Console.dll" />
      </Component>
      <Component Id="comp_185" Guid="*">
        <File Source="publish\Serilog.Sinks.Debug.dll" />
      </Component>
      <Component Id="comp_186" Guid="*">
        <File Source="publish\Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="comp_187" Guid="*">
        <File Source="publish\SQLitePCLRaw.batteries_v2.dll" />
      </Component>
      <Component Id="comp_188" Guid="*">
        <File Source="publish\SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="comp_189" Guid="*">
        <File Source="publish\SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>
      <Component Id="comp_190" Guid="*">
        <File Source="publish\System.AppContext.dll" />
      </Component>
      <Component Id="comp_191" Guid="*">
        <File Source="publish\System.Buffers.dll" />
      </Component>
      <Component Id="comp_192" Guid="*">
        <File Source="publish\System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="comp_193" Guid="*">
        <File Source="publish\System.Collections.dll" />
      </Component>
      <Component Id="comp_194" Guid="*">
        <File Source="publish\System.Collections.Immutable.dll" />
      </Component>
      <Component Id="comp_195" Guid="*">
        <File Source="publish\System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="comp_196" Guid="*">
        <File Source="publish\System.Collections.Specialized.dll" />
      </Component>
      <Component Id="comp_197" Guid="*">
        <File Source="publish\System.ComponentModel.Annotations.dll" />
      </Component>
      <Component Id="comp_198" Guid="*">
        <File Source="publish\System.ComponentModel.DataAnnotations.dll" />
      </Component>
      <Component Id="comp_199" Guid="*">
        <File Source="publish\System.ComponentModel.dll" />
      </Component>
      <Component Id="comp_200" Guid="*">
        <File Source="publish\System.ComponentModel.EventBasedAsync.dll" />
      </Component>
      <Component Id="comp_201" Guid="*">
        <File Source="publish\System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="comp_202" Guid="*">
        <File Source="publish\System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="comp_203" Guid="*">
        <File Source="publish\System.Configuration.dll" />
      </Component>
      <Component Id="comp_204" Guid="*">
        <File Source="publish\System.Console.dll" />
      </Component>
      <Component Id="comp_205" Guid="*">
        <File Source="publish\System.Core.dll" />
      </Component>
      <Component Id="comp_206" Guid="*">
        <File Source="publish\System.Data.Common.dll" />
      </Component>
      <Component Id="comp_207" Guid="*">
        <File Source="publish\System.Data.DataSetExtensions.dll" />
      </Component>
      <Component Id="comp_208" Guid="*">
        <File Source="publish\System.Data.dll" />
      </Component>
      <Component Id="comp_209" Guid="*">
        <File Source="publish\System.Diagnostics.Contracts.dll" />
      </Component>
      <Component Id="comp_210" Guid="*">
        <File Source="publish\System.Diagnostics.Debug.dll" />
      </Component>
      <Component Id="comp_211" Guid="*">
        <File Source="publish\System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="comp_212" Guid="*">
        <File Source="publish\System.Diagnostics.EventLog.dll" />
      </Component>
      <Component Id="comp_213" Guid="*">
        <File Source="publish\System.Diagnostics.EventLog.Messages.dll" />
      </Component>
      <Component Id="comp_214" Guid="*">
        <File Source="publish\System.Diagnostics.FileVersionInfo.dll" />
      </Component>
      <Component Id="comp_215" Guid="*">
        <File Source="publish\System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="comp_216" Guid="*">
        <File Source="publish\System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="comp_217" Guid="*">
        <File Source="publish\System.Diagnostics.TextWriterTraceListener.dll" />
      </Component>
      <Component Id="comp_218" Guid="*">
        <File Source="publish\System.Diagnostics.Tools.dll" />
      </Component>
      <Component Id="comp_219" Guid="*">
        <File Source="publish\System.Diagnostics.TraceSource.dll" />
      </Component>
      <Component Id="comp_220" Guid="*">
        <File Source="publish\System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="comp_221" Guid="*">
        <File Source="publish\System.DirectoryServices.Protocols.dll" />
      </Component>
      <Component Id="comp_222" Guid="*">
        <File Source="publish\System.dll" />
      </Component>
      <Component Id="comp_223" Guid="*">
        <File Source="publish\System.Drawing.dll" />
      </Component>
      <Component Id="comp_224" Guid="*">
        <File Source="publish\System.Drawing.Primitives.dll" />
      </Component>
      <Component Id="comp_225" Guid="*">
        <File Source="publish\System.Dynamic.Runtime.dll" />
      </Component>
      <Component Id="comp_226" Guid="*">
        <File Source="publish\System.Formats.Asn1.dll" />
      </Component>
      <Component Id="comp_227" Guid="*">
        <File Source="publish\System.Formats.Tar.dll" />
      </Component>
      <Component Id="comp_228" Guid="*">
        <File Source="publish\System.Globalization.Calendars.dll" />
      </Component>
      <Component Id="comp_229" Guid="*">
        <File Source="publish\System.Globalization.dll" />
      </Component>
      <Component Id="comp_230" Guid="*">
        <File Source="publish\System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="comp_231" Guid="*">
        <File Source="publish\System.IdentityModel.Tokens.Jwt.dll" />
      </Component>
      <Component Id="comp_232" Guid="*">
        <File Source="publish\System.IO.Compression.Brotli.dll" />
      </Component>
      <Component Id="comp_233" Guid="*">
        <File Source="publish\System.IO.Compression.dll" />
      </Component>
      <Component Id="comp_234" Guid="*">
        <File Source="publish\System.IO.Compression.FileSystem.dll" />
      </Component>
      <Component Id="comp_235" Guid="*">
        <File Source="publish\System.IO.Compression.Native.dll" />
      </Component>
      <Component Id="comp_236" Guid="*">
        <File Source="publish\System.IO.Compression.ZipFile.dll" />
      </Component>
      <Component Id="comp_237" Guid="*">
        <File Source="publish\System.IO.dll" />
      </Component>
      <Component Id="comp_238" Guid="*">
        <File Source="publish\System.IO.FileSystem.AccessControl.dll" />
      </Component>
      <Component Id="comp_239" Guid="*">
        <File Source="publish\System.IO.FileSystem.dll" />
      </Component>
      <Component Id="comp_240" Guid="*">
        <File Source="publish\System.IO.FileSystem.DriveInfo.dll" />
      </Component>
      <Component Id="comp_241" Guid="*">
        <File Source="publish\System.IO.FileSystem.Primitives.dll" />
      </Component>
      <Component Id="comp_242" Guid="*">
        <File Source="publish\System.IO.FileSystem.Watcher.dll" />
      </Component>
      <Component Id="comp_243" Guid="*">
        <File Source="publish\System.IO.IsolatedStorage.dll" />
      </Component>
      <Component Id="comp_244" Guid="*">
        <File Source="publish\System.IO.MemoryMappedFiles.dll" />
      </Component>
      <Component Id="comp_245" Guid="*">
        <File Source="publish\System.IO.Pipelines.dll" />
      </Component>
      <Component Id="comp_246" Guid="*">
        <File Source="publish\System.IO.Pipes.AccessControl.dll" />
      </Component>
      <Component Id="comp_247" Guid="*">
        <File Source="publish\System.IO.Pipes.dll" />
      </Component>
      <Component Id="comp_248" Guid="*">
        <File Source="publish\System.IO.UnmanagedMemoryStream.dll" />
      </Component>
      <Component Id="comp_249" Guid="*">
        <File Source="publish\System.Linq.dll" />
      </Component>
      <Component Id="comp_250" Guid="*">
        <File Source="publish\System.Linq.Expressions.dll" />
      </Component>
      <Component Id="comp_251" Guid="*">
        <File Source="publish\System.Linq.Parallel.dll" />
      </Component>
      <Component Id="comp_252" Guid="*">
        <File Source="publish\System.Linq.Queryable.dll" />
      </Component>
      <Component Id="comp_253" Guid="*">
        <File Source="publish\System.Memory.dll" />
      </Component>
      <Component Id="comp_254" Guid="*">
        <File Source="publish\System.Net.dll" />
      </Component>
      <Component Id="comp_255" Guid="*">
        <File Source="publish\System.Net.Http.dll" />
      </Component>
      <Component Id="comp_256" Guid="*">
        <File Source="publish\System.Net.Http.Json.dll" />
      </Component>
      <Component Id="comp_257" Guid="*">
        <File Source="publish\System.Net.HttpListener.dll" />
      </Component>
      <Component Id="comp_258" Guid="*">
        <File Source="publish\System.Net.Mail.dll" />
      </Component>
      <Component Id="comp_259" Guid="*">
        <File Source="publish\System.Net.NameResolution.dll" />
      </Component>
      <Component Id="comp_260" Guid="*">
        <File Source="publish\System.Net.NetworkInformation.dll" />
      </Component>
      <Component Id="comp_261" Guid="*">
        <File Source="publish\System.Net.Ping.dll" />
      </Component>
      <Component Id="comp_262" Guid="*">
        <File Source="publish\System.Net.Primitives.dll" />
      </Component>
      <Component Id="comp_263" Guid="*">
        <File Source="publish\System.Net.Quic.dll" />
      </Component>
      <Component Id="comp_264" Guid="*">
        <File Source="publish\System.Net.Requests.dll" />
      </Component>
      <Component Id="comp_265" Guid="*">
        <File Source="publish\System.Net.Security.dll" />
      </Component>
      <Component Id="comp_266" Guid="*">
        <File Source="publish\System.Net.ServicePoint.dll" />
      </Component>
      <Component Id="comp_267" Guid="*">
        <File Source="publish\System.Net.Sockets.dll" />
      </Component>
      <Component Id="comp_268" Guid="*">
        <File Source="publish\System.Net.WebClient.dll" />
      </Component>
      <Component Id="comp_269" Guid="*">
        <File Source="publish\System.Net.WebHeaderCollection.dll" />
      </Component>
      <Component Id="comp_270" Guid="*">
        <File Source="publish\System.Net.WebProxy.dll" />
      </Component>
      <Component Id="comp_271" Guid="*">
        <File Source="publish\System.Net.WebSockets.Client.dll" />
      </Component>
      <Component Id="comp_272" Guid="*">
        <File Source="publish\System.Net.WebSockets.dll" />
      </Component>
      <Component Id="comp_273" Guid="*">
        <File Source="publish\System.Numerics.dll" />
      </Component>
      <Component Id="comp_274" Guid="*">
        <File Source="publish\System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="comp_275" Guid="*">
        <File Source="publish\System.ObjectModel.dll" />
      </Component>
      <Component Id="comp_276" Guid="*">
        <File Source="publish\System.Private.CoreLib.dll" />
      </Component>
      <Component Id="comp_277" Guid="*">
        <File Source="publish\System.Private.DataContractSerialization.dll" />
      </Component>
      <Component Id="comp_278" Guid="*">
        <File Source="publish\System.Private.Uri.dll" />
      </Component>
      <Component Id="comp_279" Guid="*">
        <File Source="publish\System.Private.Xml.dll" />
      </Component>
      <Component Id="comp_280" Guid="*">
        <File Source="publish\System.Private.Xml.Linq.dll" />
      </Component>
      <Component Id="comp_281" Guid="*">
        <File Source="publish\System.Reflection.DispatchProxy.dll" />
      </Component>
      <Component Id="comp_282" Guid="*">
        <File Source="publish\System.Reflection.dll" />
      </Component>
      <Component Id="comp_283" Guid="*">
        <File Source="publish\System.Reflection.Emit.dll" />
      </Component>
      <Component Id="comp_284" Guid="*">
        <File Source="publish\System.Reflection.Emit.ILGeneration.dll" />
      </Component>
      <Component Id="comp_285" Guid="*">
        <File Source="publish\System.Reflection.Emit.Lightweight.dll" />
      </Component>
      <Component Id="comp_286" Guid="*">
        <File Source="publish\System.Reflection.Extensions.dll" />
      </Component>
      <Component Id="comp_287" Guid="*">
        <File Source="publish\System.Reflection.Metadata.dll" />
      </Component>
      <Component Id="comp_288" Guid="*">
        <File Source="publish\System.Reflection.Primitives.dll" />
      </Component>
      <Component Id="comp_289" Guid="*">
        <File Source="publish\System.Reflection.TypeExtensions.dll" />
      </Component>
      <Component Id="comp_290" Guid="*">
        <File Source="publish\System.Resources.Reader.dll" />
      </Component>
      <Component Id="comp_291" Guid="*">
        <File Source="publish\System.Resources.ResourceManager.dll" />
      </Component>
      <Component Id="comp_292" Guid="*">
        <File Source="publish\System.Resources.Writer.dll" />
      </Component>
      <Component Id="comp_293" Guid="*">
        <File Source="publish\System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="comp_294" Guid="*">
        <File Source="publish\System.Runtime.CompilerServices.VisualC.dll" />
      </Component>
      <Component Id="comp_295" Guid="*">
        <File Source="publish\System.Runtime.dll" />
      </Component>
      <Component Id="comp_296" Guid="*">
        <File Source="publish\System.Runtime.Extensions.dll" />
      </Component>
      <Component Id="comp_297" Guid="*">
        <File Source="publish\System.Runtime.Handles.dll" />
      </Component>
      <Component Id="comp_298" Guid="*">
        <File Source="publish\System.Runtime.InteropServices.dll" />
      </Component>
      <Component Id="comp_299" Guid="*">
        <File Source="publish\System.Runtime.InteropServices.JavaScript.dll" />
      </Component>
      <Component Id="comp_300" Guid="*">
        <File Source="publish\System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
      <Component Id="comp_301" Guid="*">
        <File Source="publish\System.Runtime.Intrinsics.dll" />
      </Component>
      <Component Id="comp_302" Guid="*">
        <File Source="publish\System.Runtime.Loader.dll" />
      </Component>
      <Component Id="comp_303" Guid="*">
        <File Source="publish\System.Runtime.Numerics.dll" />
      </Component>
      <Component Id="comp_304" Guid="*">
        <File Source="publish\System.Runtime.Serialization.dll" />
      </Component>
      <Component Id="comp_305" Guid="*">
        <File Source="publish\System.Runtime.Serialization.Formatters.dll" />
      </Component>
      <Component Id="comp_306" Guid="*">
        <File Source="publish\System.Runtime.Serialization.Json.dll" />
      </Component>
      <Component Id="comp_307" Guid="*">
        <File Source="publish\System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="comp_308" Guid="*">
        <File Source="publish\System.Runtime.Serialization.Xml.dll" />
      </Component>
      <Component Id="comp_309" Guid="*">
        <File Source="publish\System.Security.AccessControl.dll" />
      </Component>
      <Component Id="comp_310" Guid="*">
        <File Source="publish\System.Security.Claims.dll" />
      </Component>
      <Component Id="comp_311" Guid="*">
        <File Source="publish\System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="comp_312" Guid="*">
        <File Source="publish\System.Security.Cryptography.Cng.dll" />
      </Component>
      <Component Id="comp_313" Guid="*">
        <File Source="publish\System.Security.Cryptography.Csp.dll" />
      </Component>
      <Component Id="comp_314" Guid="*">
        <File Source="publish\System.Security.Cryptography.dll" />
      </Component>
      <Component Id="comp_315" Guid="*">
        <File Source="publish\System.Security.Cryptography.Encoding.dll" />
      </Component>
      <Component Id="comp_316" Guid="*">
        <File Source="publish\System.Security.Cryptography.OpenSsl.dll" />
      </Component>
      <Component Id="comp_317" Guid="*">
        <File Source="publish\System.Security.Cryptography.Pkcs.dll" />
      </Component>
      <Component Id="comp_318" Guid="*">
        <File Source="publish\System.Security.Cryptography.Primitives.dll" />
      </Component>
      <Component Id="comp_319" Guid="*">
        <File Source="publish\System.Security.Cryptography.X509Certificates.dll" />
      </Component>
      <Component Id="comp_320" Guid="*">
        <File Source="publish\System.Security.Cryptography.Xml.dll" />
      </Component>
      <Component Id="comp_321" Guid="*">
        <File Source="publish\System.Security.dll" />
      </Component>
      <Component Id="comp_322" Guid="*">
        <File Source="publish\System.Security.Principal.dll" />
      </Component>
      <Component Id="comp_323" Guid="*">
        <File Source="publish\System.Security.Principal.Windows.dll" />
      </Component>
      <Component Id="comp_324" Guid="*">
        <File Source="publish\System.Security.SecureString.dll" />
      </Component>
      <Component Id="comp_325" Guid="*">
        <File Source="publish\System.ServiceModel.Web.dll" />
      </Component>
      <Component Id="comp_326" Guid="*">
        <File Source="publish\System.ServiceProcess.dll" />
      </Component>
      <Component Id="comp_327" Guid="*">
        <File Source="publish\System.ServiceProcess.ServiceController.dll" />
      </Component>
      <Component Id="comp_328" Guid="*">
        <File Source="publish\System.Text.Encoding.CodePages.dll" />
      </Component>
      <Component Id="comp_329" Guid="*">
        <File Source="publish\System.Text.Encoding.dll" />
      </Component>
      <Component Id="comp_330" Guid="*">
        <File Source="publish\System.Text.Encoding.Extensions.dll" />
      </Component>
      <Component Id="comp_331" Guid="*">
        <File Source="publish\System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="comp_332" Guid="*">
        <File Source="publish\System.Text.Json.dll" />
      </Component>
      <Component Id="comp_333" Guid="*">
        <File Source="publish\System.Text.RegularExpressions.dll" />
      </Component>
      <Component Id="comp_334" Guid="*">
        <File Source="publish\System.Threading.Channels.dll" />
      </Component>
      <Component Id="comp_335" Guid="*">
        <File Source="publish\System.Threading.dll" />
      </Component>
      <Component Id="comp_336" Guid="*">
        <File Source="publish\System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="comp_337" Guid="*">
        <File Source="publish\System.Threading.RateLimiting.dll" />
      </Component>
      <Component Id="comp_338" Guid="*">
        <File Source="publish\System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="comp_339" Guid="*">
        <File Source="publish\System.Threading.Tasks.dll" />
      </Component>
      <Component Id="comp_340" Guid="*">
        <File Source="publish\System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="comp_341" Guid="*">
        <File Source="publish\System.Threading.Tasks.Parallel.dll" />
      </Component>
      <Component Id="comp_342" Guid="*">
        <File Source="publish\System.Threading.Thread.dll" />
      </Component>
      <Component Id="comp_343" Guid="*">
        <File Source="publish\System.Threading.ThreadPool.dll" />
      </Component>
      <Component Id="comp_344" Guid="*">
        <File Source="publish\System.Threading.Timer.dll" />
      </Component>
      <Component Id="comp_345" Guid="*">
        <File Source="publish\System.Transactions.dll" />
      </Component>
      <Component Id="comp_346" Guid="*">
        <File Source="publish\System.Transactions.Local.dll" />
      </Component>
      <Component Id="comp_347" Guid="*">
        <File Source="publish\System.ValueTuple.dll" />
      </Component>
      <Component Id="comp_348" Guid="*">
        <File Source="publish\System.Web.dll" />
      </Component>
      <Component Id="comp_349" Guid="*">
        <File Source="publish\System.Web.HttpUtility.dll" />
      </Component>
      <Component Id="comp_350" Guid="*">
        <File Source="publish\System.Windows.dll" />
      </Component>
      <Component Id="comp_351" Guid="*">
        <File Source="publish\System.Xml.dll" />
      </Component>
      <Component Id="comp_352" Guid="*">
        <File Source="publish\System.Xml.Linq.dll" />
      </Component>
      <Component Id="comp_353" Guid="*">
        <File Source="publish\System.Xml.ReaderWriter.dll" />
      </Component>
      <Component Id="comp_354" Guid="*">
        <File Source="publish\System.Xml.Serialization.dll" />
      </Component>
      <Component Id="comp_355" Guid="*">
        <File Source="publish\System.Xml.XDocument.dll" />
      </Component>
      <Component Id="comp_356" Guid="*">
        <File Source="publish\System.Xml.XmlDocument.dll" />
      </Component>
      <Component Id="comp_357" Guid="*">
        <File Source="publish\System.Xml.XmlSerializer.dll" />
      </Component>
      <Component Id="comp_358" Guid="*">
        <File Source="publish\System.Xml.XPath.dll" />
      </Component>
      <Component Id="comp_359" Guid="*">
        <File Source="publish\System.Xml.XPath.XDocument.dll" />
      </Component>
      <Component Id="comp_360" Guid="*">
        <File Source="publish\web.config" />
      </Component>
      <Component Id="comp_361" Guid="*">
        <File Source="publish\WindowsBase.dll" />
      </Component>
      <Component Id="comp_362" Guid="*" Subdirectory="wwwroot">
        <File Source="publish\wwwroot\index.html" />
      </Component>
      <Component Id="comp_363" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\api-BxHizJe6.js" />
      </Component>
      <Component Id="comp_364" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\CardsView-CMYciarw.js" />
      </Component>
      <Component Id="comp_365" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\CardsView-DN5-OGKX.css" />
      </Component>
      <Component Id="comp_366" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\index-BM2aFfUj.css" />
      </Component>
      <Component Id="comp_367" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\index-DCrkAhub.js" />
      </Component>
      <Component Id="comp_368" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\LoginView-CLLg5OYn.css" />
      </Component>
      <Component Id="comp_369" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\LoginView-Crl8y4vJ.js" />
      </Component>
      <Component Id="comp_370" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\SyncView-DIqQEQTz.js" />
      </Component>
      <Component Id="comp_371" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\UsersView-Ck5K_u59.css" />
      </Component>
      <Component Id="comp_372" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\UsersView-DyibXb48.js" />
      </Component>
      <Component Id="comp_373" Guid="*" Subdirectory="wwwroot\assets">
        <File Source="publish\wwwroot\assets\_plugin-vue_export-helper-DlAUqK2U.js" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
